include AUTHORS
include LICENSE
include MANIFEST.in
include README.md
global-exclude *.py[cod]
global-exclude __pycache__/*
global-exclude */__pycache__/*
recursive-exclude jwt_allauth __pycache__/* *.py[cod]
recursive-include jwt_allauth *.py
recursive-include jwt_allauth/templates *.html
recursive-include jwt_allauth/templates *.txt
recursive-include jwt_allauth/locale *.po
prune tests
include runtests.py
