name: Tests (Minimum Dependencies)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

permissions:
  contents: read

jobs:
  tests-min-deps:
    runs-on: ubuntu-latest
    environment:
      name: compatibility-min-deps

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install tox
        run: |
          python -m pip install --upgrade pip
          pip install tox

      - name: Run tests with minimum dependencies (tox)
        run: |
          tox -e py310-min
